body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 40px 20px;
}

.section-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #111;
  color: white;
}

.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  text-align: center;
}

.btn {
  padding: 12px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background: black;
  color: white;
}

.card {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}